.registerSec {
    margin: 40px 20px;
}

.importantParagraphs {
    text-align: center;
    font-weight: 700;

    p{
        margin-bottom: 20px;
    }

    p:nth-of-type(1) {
        color: rgb(200, 200, 200);
        font-size: 1.2rem;
    }

    p:nth-of-type(2) {
        color: rgb(160, 160, 160);
    }

    p:nth-of-type(3) {
        color: rgb(120, 120, 120);;
    }

    p:nth-of-type(4){
        color:rgb(120,120,120);
    }
}