.btn {
        border: none;
        border-radius: 10px;
        font-size: var(--text-md);
        background-color: var(--white-1);
        border: 1px solid var(--white-3);

        div {
                display: flex;
                justify-content: space-between;
        }

        p {
                background-color: var(--white-1);
                color: var(--white-7);
                padding: 12px 40px 12px 60px;
                margin: 4px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border: 1px solid var(--white-1);
        }

        section {
                display: flex;
                padding: 12px;
                background-color: var(--white-1);
                margin: 4px 4px 4px 0;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border: 1px solid var(--white-1);
        }

        img {
                width: 18px;
                height: 18px;
                border-radius: 10px;
                border: 1px solid var(--white-5);
        }

}